name: "Home Assistant Gateway"
description: "Home Assistant Gateway is a HTTP/S proxy with integrated DNS and Letsencrypt support"
version: "0.1.0"
slug: "home_assistant_gateway"
startup: "services"
#apparmor: "local/gateway"
hassio_api: true
hassio_role: manager
init: false
ingress: true
ingress_port: 8099
arch:
  - aarch64
  - amd64
ports:
  53/tcp: 53
  53/udp: 53
  80/tcp: 80
  443/tcp: 443
options:
  influx_db_user: ""
  influx_db_password: ""
  influx_db_database: "homeassistant"
schema:
  influx_db_user: str
  influx_db_password: password
  influx_db_database: str
